.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
}
.left{
    display: flex;
    justify-content: center;
    width: 33%;
    text-align: center;
    flex-direction: column;
}
.center{
    display: flex;
    justify-content: center;
    width: 33%;
    text-align: center;
    flex-direction: column;
}
.right{
    display: flex;
    justify-content: center;
    width: 33%;
    text-align: center;
    flex-direction: column;
}
img{
    cursor: pointer;
}
